:root {
    --darkblue: #00408c;
    --blue: #96add6;
    --red: #e85234;
    --red2: #ff4438;
    --peach: #f9b8af;
    --cream: #f2eee9;
    --pink: #f2d7d3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*::selection {
    color: var(--darkblue);
}

html {
    font-size: 80%;
    overflow-x: hidden;
}

/* index.html */
header {
    width: 96%;
    background-color: var(--peach);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

.header-active {
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
    cursor: pointer;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: var(--red);
    transition: .2s;
}

header .navbar ul li .active, .navbar ul li a:hover {
    color: var(--darkblue);
}

header .logo {
    font-size: 2.5rem;
    color: var(--red);
    text-transform: uppercase;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--red);
    cursor: pointer;
    display: none;
    transition: .2s;
}

header .signup-btn, header .login-btn {
    padding: 0.2rem 2rem;
    border-radius: 20px;
    background-color: var(--cream);
}

.header-active .signup-btn, .header-active .login-btn {
    border-radius: 5px;
}

header .navbar ul li a.signup-btn:hover, 
header .navbar ul li a.login-btn:hover {
    background-color: var(--blue);
    color: var(--darkblue);
}

header .fa-times {
    transform: rotate(180deg);
    color: var(--red);
}

.home {
    background-color: var(--cream);
    min-height: 70vh;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 0;
    overflow: hidden;
}

.home .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .banner .app-text {
    padding-top: 6rem;
    padding-left: 10rem;
    letter-spacing: .1rem;
}

.home .banner .app-text p {
    text-transform: none;
    text-align:left;
    font-size: 3.5rem;
    font-weight: bold;
    width: 50rem;
    margin: 2.5rem 0;
    line-height: 4rem;
    color: #333;
}

.home .banner .app-text button {
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    border: none;
    background-color: var(--red);
    color: #fff;
}

.app-text .fa-arrow-circle-right {
    margin-left: 2rem;
    color: #fff;
}

.home .banner .app-img img {
    width: 80%;
    height: auto;
}

.about {
    background-color: var(--pink);
    width: 100%;
    z-index: 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 0;
    overflow: hidden;
}

.about .heading {
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.about .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.about .box-container .box {
    width: 30rem;
    text-align: center;
    border: 1px solid var(--darkblue);
    background-color: var(--cream);
    border-radius: 1rem;
    margin: 1.5rem;
    padding: 1rem;
}

.about .box-container .box img {
    width: 10rem;
    height: auto;
}

.about .box-container .box h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--darkblue);
}

.about .box-container .box p {
    font-size: 1.25rem;
}

body {
    background-color: var(--cream);
    height: 3000px;
}

/* media queries */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    html {
        font-size: 75%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: var(--pink);
        border-radius: 1rem;
        opacity: 0; 
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    header .signup-btn, header .login-btn {
        border: none;
        border: 1px solid var(--red);
        border-radius: 10px;
        width: 30%;
        margin: 0 auto;
        display: inline-block;
    }

    .home {
        min-height: 60vh;
    }

    .home .banner {
        flex-flow: column-reverse;
    }
    
    .home .banner .app-img {
        width: 100%;  
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin: 0 auto;       
        padding-top: 8rem;  
    }
    
    .home .banner .app-text {
        width: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .home .banner .app-text p {
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
    }

    .home .banner .app-text button {
        margin: 0 0 5rem 0;
        width: 20rem;
    }

    .about .heading {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 767px){
    html {
        font-size: 50%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: var(--pink);
        border-radius: 1rem;
        opacity: 0; 
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    header .signup-btn, header .login-btn {
        border: none;
        border: 1px solid var(--red);
        border-radius: 10px;
        width: 40%;
        margin: 0 auto;
        display: inline-block;
    }

    .home {
        min-height: 35vh;
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .home .banner {
        flex-flow: column-reverse;
    }
    
    .home .banner .app-img {
        width: 100%;  
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin: 0 auto;     
    }
    
    .home .banner .app-text {
        width: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .home .banner .app-text p {
        width: 35rem;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
    }

    .home .banner .app-text button {
        margin: 0 0 5rem 0;
        width: 20rem;
    }

    .about .heading {
        font-size: 3rem;
    }

    .about .box-container .box {
        width: 40rem;
    }
}

.signin-signup-body {
    font-size: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--cream);
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: var(--pink);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.3), 0 6px 20px 0 rgba(0,0,0,.3);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--peach), var(--pink));
    z-index: 6;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.signin-signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

.form-title {
    font-size: 3rem;
    color: var(--red);
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: var(--cream);
    margin: 10px 0;
    border: 2px solid var(--red);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    font-size: 1.75rem;
    color: #666;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.75rem;
    color: #444;
}

.signin-signup-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--red);
    color: var(--cream);
    font-size: 1.5rem;
    font-weight: 600;
}

.signin-signup-btn:hover {
    cursor: pointer;
    background: var(--red2);
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    z-index: 6;
}

.form-img {
    width: 100%;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}