<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorMatch</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header>
    <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-graduation-cap"></i>TutorMatch</a>
    <nav class="navbar">
        <ul>
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('tutors') }}">Our Tutors</a></li>
            <li><a href="{{ url_for('filter_tutors_subject') }}">Find a Tutor</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Reviews</a></li>
            {% if session.get('user_id') %}
                <li><a href="{{ url_for('logout') }}" class="login-btn">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="login-btn">Log In</a></li>
            {% endif %}

        </ul>
    </nav>
    <div class="fas fa-bars"></div>
</header>
<section id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>
<section class="home" id="home">
    <div class="banner">
        <div class="app-text">
            <p>Find Your Ideal Tutor: <br> Personalized Matches and Trusted Reviews for Effective Learning.</p>
            <a href="{{ url_for('register') }}"><button>Get Started<i class="fas fa-arrow-circle-right"></i></button></a>
        </div>
        <div class="app-img">
            <img src="static/13261.png">
        </div>
    </div>
</section>
<section class="about" id="about">
    <h2 class="heading">How TutorMatch works:</h2>
    <div class="box-container">
        <div class="box">
            <img src="static/find.png">
            <h3>1. Find your tutor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
        <div class="box">
            <img src="static/book.png">
            <h3>2. Book your session</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
        <div class="box">
            <img src="static/study.png">
            <h3>3. Start learning</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
    </div>
</section>
<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>