<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorMatch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header>
    <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-graduation-cap"></i>TutorMatch</a>
    <nav class="navbar">
        <ul>
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('tutors') }}">Our Tutors</a></li>
            <li><a href="#">Find a Tutor</a></li>
            <li><a href="#">Pricing</a></li>
            <li id="last-item"><a href="#">Reviews</a></li>
            <li><a href="{{ url_for('login') }}" class="login-btn">Log In</a></li>
            <li><a href="{{ url_for('register') }}" class="signup-btn">Sign Up</a></li>
        </ul>
    </nav>
    <div class="fas fa-bars"></div>
</header>
<div class="banner">
    <div class="app-text">
        <h1>Tutor Match</h1>
        <p>The platform will allow
            students to browse a diverse range of tutors, each with detailed profiles that
            highlight their areas of expertise, teaching experience, and ratings from previous
            students. Students will be able to book one-on-one tutoring sessions directly
            through the platform, choosing times that best fit their schedules. After each
            session, students can provide feedback on their experience, which will contribute to
            the tutor's overall rating. This rating system, along with the tutor"s qualifications
            and reviews, will enable students to make informed decisions, ensuring they find the
            best possible match for their educational needs. The goal is to simplify the process
            of finding quality tutors while fostering an environment of transparency and trust. </p>
    </div>
    <div class="app-img">
        <img src="static/13261.jpg">
    </div>
</div>
<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>