<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorMatch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header>
    <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-graduation-cap"></i>TutorMatch</a>
    <nav class="navbar">
        <ul>
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('tutors') }}">Our Tutors</a></li>
            <li><a href="#">Find a Tutor</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="{{ url_for('login') }}" class="login-btn">Log In</a></li>
            <li><a href="{{ url_for('register') }}" class="signup-btn">Sign Up</a></li>
        </ul>
    </nav>
    <div class="fas fa-bars"></div>
</header>
<section class="home" id="home">
    <div class="banner">
        <div class="app-text">
            <p>Find Your Ideal Tutor: <br> Personalized Matches and Trusted Reviews for Effective Learning.</p>
            <a href="{{ url_for('register') }}"><button>Get Started<i class="fas fa-arrow-circle-right"></i></button></a>
        </div>
        <div class="app-img">
            <img src="static/13261.png">
        </div>
    </div>
</section>
<section class="about" id="about">
    <h2 class="heading">How TutorMatch works:</h2>
    <div class="box-container">
        <div class="box">
            <img src="static/find.png">
            <h3>1. Find your tutor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
        <div class="box">
            <img src="static/book.png">
            <h3>2. Book your session</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
        <div class="box">
            <img src="static/study.png">
            <h3>3. Start learning</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore aspernatur qui iusto quis blanditiis! Quasi, adipisci velit? Ratione corrupti repellendus at, omnis debitis doloremque nisi quasi ipsa recusandae fuga!</p>
        </div>
    </div>
</section>
<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>