<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Tutors</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-graduation-cap"></i>TutorMatch</a>
    <nav class="navbar">
        <ul>
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('tutors') }}">Our Tutors</a></li>
            <li><a href="{{ url_for('filter_tutors_subject') }}">Find a Tutor</a></li>
            {% if session.get('user_id') %}
                <div class="dropdown">
                    <img src="{{  url_for('static', filename=user.photo_path) }}" alt="Profile Image" class="dropbtn user-profile" onclick="toggleDropdown()">
                    <div class="dropdown-content" id="myDropdown">
                        <a href="{{ url_for('logout') }}">Log Out</a>
                        <a href="#">My sessions</a>
                    </div>
                </div>
                <div class="none-dropdown">
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    <li><a href="#">My sessions</a></li>
                </div>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="login-btn">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="fas fa-bars"></div>
</header>
<section class="all-tutors">
    <h1>Our Tutors</h1>
    <div class="box-container">
        {% for tutor in tutors %}
            <div class="box">
                <div class="tutor-content">
                    <img src="{{ tutor.image_path }}" alt="Profile image of {{ tutor.name }}">
                    <h2>{{ tutor.name }}</h2>
                    <h3><i class="fas fa-solid fa-graduation-cap"></i> {{ tutor.subject }}</h3>
                    <p class="tutor-rating"><i class="fas fa-solid fa-star"></i> {{ tutor.rating }} ({{ tutor.reviews }} reviews)</p>
                    <p><strong>Available:</strong> {{ tutor.days_available }}</p>
                    <p><strong>Time Slots:</strong> {{ tutor.time_slots }}</p>
                    <p><strong>Review:</strong> {{ tutor.review_text }}</p>
                    <a href="{{ url_for('book_session', tutor_id=tutor.id) }}" class="session-btn">Book a Session</a> <!-- Booking Button -->
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
