<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Reviews - TutorMatch</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-graduation-cap"></i>TutorMatch</a>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('tutors') }}">Our Tutors</a></li>
                <li><a href="{{ url_for('filter_tutors_subject') }}">Find a Tutor</a></li>
                {% if session.get('user_id') %}
                    <div class="dropdown">
                        <img src="{{ url_for('static', filename=user.photo_path) }}" alt="Profile Image" class="dropbtn user-profile" onclick="toggleDropdown()">
                        <div class="dropdown-content" id="myDropdown">
                            <a href="{{ url_for('logout') }}">Log Out</a>
                            <a href="{{ url_for('view_bookings') }}">My Sessions</a>
                            <a href="{{ url_for('user_reviews') }}">View Reviews</a>
                        </div>
                    </div>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="login-btn">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section class="user-reviews">
        <h2>My Reviews</h2>
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>Tutor:</strong> {{ review.tutor.name }} <br>
                    <strong>Rating:</strong> {{ review.rating }} Stars <br>
                    <strong>Review:</strong> {{ review.description }} <br>
                    <small>on {{ review.timestamp.strftime('%Y-%m-%d') }}</small>
                </li>
            {% else %}
                <li>No reviews yet.</li>
            {% endfor %}
        </ul>
    </section>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>